Repository Dylan-Gresham/BookTrack, pull requests merged in 2024-11, with the labels that each got.

#39 Make elements in Create Account Route fit in the box. Fixes #36
  next-env.d.ts
  src/app/styles/createAccount.module.css
Labels: bug :bug:, frontend, css

#40 Make Create Account Modal Responsive (Task 34)
  src/app/styles/createAccount.module.css
  src/app/styles/globals.css
Labels: enhancement, frontend, ui, css

#41 `update_config` now updates both the file and the app state (Task 38)
  src-tauri/src/main.rs
Labels: bug :bug:, backend, ux, rs

#46 Don't shrink create account modal for anything smaller than an iPhone SE
  src/app/styles/createAccount.module.css
Labels: frontend, ui, css, priority-low

#47 Update backend database programmatically
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/config.rs
  src-tauri/src/main.rs
Labels: backend, rs, db
